.vscode
/build*
.DS_Store
CMakeCache.txt
CMakeFiles
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
*.obj
*.zip

data
**/result.res
